<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Pae</title>
</head>
<body bgcolor="green">
    <H1>hello this is home page</H1>
    <a href="http://127.0.0.1:5000/login">login</a>

    <form method="post">
       title <input type="input" name="name"> <br>
       <br>
        no of page <input type="input" name="page">
         <p></p>
         <input type="submit" value="submit">   
    </form>
</body>
</html>